.landing-container {
  --loginPrimary: #26028a;
  --loginSecondary: #baa4f9;
  --landingPrimary: white;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #eeeeee;

  height: 100vh;
  width: 100vw;
}
.landing-container a {
  text-decoration: none;
  color: var(--loginPrimary);
}

.landing-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 70vw;
}

.landing-div {
  padding: 20px 16px 0;
  background: url("../assets/layered-waves-haikei.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: var(--landingPrimary);
}
.landing-div h1 {
  letter-spacing: 2px;
}
.landing-div p {
  text-wrap: pretty;
  font-size: 14px;
  padding: 20px 40px;
}

/* Login Page CSS */

.login-page {
  background-color: var(--landingPrimary);
  color: var(--loginPrimary);
}
.login-page h2 {
  text-align: center;
  letter-spacing: 1px;
}
.login-page div {
  display: flex;
  flex-direction: column;
  padding-inline: 6rem;
}
.login-page label {
  font-size: 14;
  font-weight: 500;
}

.login-input {
  background-color: var(--loginSecondary);
  color: var(--loginPrimary);
  font-size: 16px;
  padding: 8px;
  margin: 4px 0 16px;

  border: 1px solid var(--landingPrimary);
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.login-input:focus {
  outline: none;
  border: 1px solid var(--loginPrimary);
}

.login-submit {
  font-size: 16px;
  padding: 8px;
  background-color: var(--loginPrimary);
  color: var(--landingPrimary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-block: 6px;
}
.login-submit:focus {
  transform: scale(0.99);
}

.login-page span {
  width: fit-content;
  font-size: 14px;
}
.login-page span:hover {
  color: var(--loginSecondary);
  cursor: pointer;
}

.login-page p {
  border-top: 1px solid var(--loginSecondary);
  padding-top: 14px;
}
.login-page p span {
  font-style: italic;
}

/* Signup Page CSS */

.signup-page {
  background-color: var(--landingPrimary);
  color: var(--loginPrimary);
}
.signup-page h2 {
  text-align: center;
  letter-spacing: 1px;
}
.signup-page > div {
  display: flex;
  flex-direction: column;
  padding-inline: 6rem;
}
.signup-input {
  background-color: var(--loginSecondary);
  color: var(--loginPrimary);

  margin-bottom: 12px;
  font-size: 16px;
  padding: 8px;

  border: 1px solid var(--landingPrimary);
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.signup-input:focus {
  outline: none;
  border: 1px solid var(--loginPrimary);
}
.signup-input::placeholder {
  color: var(--landingPrimary);
  opacity: 0.6;
}

#signup-image-uploader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 6px;
}
#signup-image-uploader label {
  text-wrap: nowrap;
}
#signup-image-uploader input[type="file"]::-webkit-file-upload-button {
  color: var(--loginPrimary);
  background-color: var(--loginSecondary);
  padding: 8px;

  border: 1px solid var(--landingPrimary);
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.signup-submit {
  font-size: 16px;
  padding: 8px;
  background-color: var(--loginPrimary);
  color: var(--landingPrimary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 12px;
}
.signup-submit:focus {
  transform: scale(0.99);
}

.signup-page p {
  border-top: 1px solid var(--loginSecondary);
  padding-top: 14px;
}
.signup-page span {
  font-style: italic;
  font-size: 14px;
}
.signup-page span:hover {
  color: var(--loginSecondary);
  cursor: pointer;
}
