.landing-container {
  --loginPrimary: #26028a;
  --loginSecondary: #5d27f26c;
  --landingPrimary: white;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #eeeeee;

  height: 100vh;
  width: 100vw;
}
.landing-container a {
  text-decoration: none;
  color: var(--loginPrimary);
}

.landing-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 70vw;
}

.landing-div {
  padding: 20px 16px 0;
  background: url("../assets/layered-waves-haikei.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: var(--landingPrimary);
}
.landing-div h1 {
  letter-spacing: 2px;
}
.landing-div p {
  text-wrap: pretty;
  font-size: 14px;
  padding: 20px 40px;
}

.landing-btn-container {
  background-color: var(--landingPrimary);
  color: var(--loginPrimary);
}
.landing-btn-container h2 {
  text-align: center;
  letter-spacing: 1px;
}
.landing-btn-container form {
  display: flex;
  flex-direction: column;
  padding-inline: 6rem;
}
.landing-btn-container label {
  font-size: 14;
  font-weight: 500;
}

.login-input {
  background-color: var(--loginSecondary);
  color: var(--loginPrimary);
  font-size: 16px;
  padding: 8px;
  margin: 4px 0 16px;

  border: 1px solid var(--landingPrimary);
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.login-input:focus {
  outline: none;
  border: 1px solid var(--loginPrimary);
}

.landing-btn-container input[type="submit"] {
  font-size: 16px;
  padding: 8px;
  background-color: var(--loginPrimary);
  color: var(--landingPrimary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-block: 6px;
}
.landing-btn-container input[type="submit"]:focus {
  transform: scale(0.99);
}

.landing-btn-container a {
  width: fit-content;
  font-size: 14px;
  color: var(--loginPrimary);
}
.landing-btn-container a:hover {
  color: var(--loginSecondary);
}

.landing-btn-container p {
  border-top: 1px solid var(--loginSecondary);
  padding-top: 14px;
}
.landing-btn-container p a {
  font-style: italic;
}
