.dashboard {
  padding-top: 14px;
  padding-right: 32px;
}
.dashboard h3 {
  font-size: 26px;
  color: rgb(45, 45, 45);
}

/* Inventory Stats */

.inventory-stats {
  padding-bottom: 16px;
  border-bottom: 2px solid var(--bluePrimary);
}
.inventory-stats-container {
  display: flex;
  gap: 10px;
}
.inventory-stat {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 16px 32px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
}
.inventory-stat:hover {
  transform: translateY(-4px);
  box-shadow: 6px 10px 4px rgba(0, 0, 0, 0.3);
}

.inventory-stat img {
  height: 34px;
}
.inventory-stat div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}
.inventory-stat div > p {
  margin: 0;
  margin-top: 4px;
  color: var(--greyBackground);
  font-size: 14px;
}
.inventory-stat div > span {
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
}

/* Inventory Items */

.inventory-items-table {
  border-collapse: collapse;
  width: 100%;
}
.inventory-items-table thead > tr {
  background-color: var(--bluePrimary);
  color: var(--white);
}
.inventory-items-table th,
.inventory-items-table td {
  padding: 14px;
  text-align: center;
}
.inventory-items-table tbody > tr {
  background-color: var(--white);
  border-bottom: 1px solid var(--bluePrimary);
}
.inventory-items-table tbody > tr:hover {
  background-color: var(--purpleSecondary);
  cursor: pointer;
}
.inventory-items-table tbody > tr:focus-within {
  background-color: #cebdff;
}

/* Pagination */
.pagination-container {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.pagination-container > button {
  width: 40px;
  background-color: var(--purpleSecondary);
  color: var(--bluePrimary);
  border: 1px solid var(--bluePrimary);
  padding-block: 14px;
}
.pagination-container > button:first-child,
.pagination-container > button:last-child {
  width: 80px;
}
