.product {
  padding-top: 14px;
  padding-right: 32px;
}
.product > button {
  font-size: 16px;
  padding: 6px 10px;
  background-color: var(--bluePrimary);
  color: var(--white);
  border: none;
  border-radius: 6px;
  margin-block: 20px;
}
.product > button:focus {
  transform: scale(0.99);
}

.product-details-container {
  display: grid;
  grid-template-columns: 45% 1fr;
  gap: 0;
  border-radius: 6px;
  background-color: var(--white);
}

.product-details-image {
  display: flex;
  padding: 12px;
}
.product-details-image > img {
  width: 100%;
  object-fit: contain;
}

.product-details {
  border-left: 2px solid var(--purpleSecondary);
  padding: 18px 14px 14px;
}
.product-details > h4 {
  font-size: 32px;
  color: var(--bluePrimary);
  text-wrap: wrap;
  margin: 0;
}

.product-details-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--purpleSecondary);
}
.product-details-category > p {
  font-size: 18px;
  color: var(--purpleSecondary);
}
.product-details-category > span {
  min-width: 100px;
  color: var(--white);
  padding: 8px 10px;
  text-align: center;
  border-radius: 6px;
}

.product-subdetails {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 16px;
  margin-top: 22px;
}
.product-subdetails > p {
  color: var(--white);
  font-size: 20px;
  background-color: var(--purpleSecondary);
  padding: 10px;
  border-radius: 6px;
  margin: 0;
}
.product-subdetails > p > span {
  color: var(--bluePrimary);
  font-weight: bold;
  font-size: 18px;
}
.product-subdetails > p:last-child {
  min-height: 100px;
}
.product-subdetails > p:last-child > span {
  display: block;
  margin-bottom: 6px;
}

.product-button-div {
  display: flex;
  gap: 30px;
  margin-top: 16px;
}
.product-button-div > button {
  flex: 1;
  font-size: 16px;
  padding-block: 8px;
  background-color: var(--bluePrimary);
  color: var(--white);
  border: none;
  border-radius: 6px;
  text-align: center;
}
.product-button-div > button:focus {
  transform: scale(0.99);
}

/* Edit Product */

.edit-product {
  padding: 22px 32px 0 0;
}
.edit-product > button {
  font-size: 16px;
  padding: 6px 10px;
  background-color: var(--bluePrimary);
  color: var(--white);
  border: none;
  border-radius: 6px;
  margin-bottom: 14px;
}
.edit-product > button:focus {
  transform: scale(0.99);
}

.edit-product > fieldset {
  margin: 0;
  border: 2px solid var(--bluePrimary);
  display: flex;
  flex-direction: column;
}
.edit-product > fieldset > legend {
  font-size: 22px;
  color: var(--bluePrimary);
  font-weight: bold;
}
.edit-product > fieldset label {
  color: var(--bluePrimary);
  margin-top: 18px;
  text-wrap: nowrap;
}

.edit-product > fieldset > button {
  width: 45%;
  font-size: 16px;
  padding: 8px;
  background-color: var(--bluePrimary);
  color: var(--white);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
}
.edit-product > fieldset > button:focus {
  transform: scale(0.99);
}

/* Delete Product */

.delete-product {
  position: absolute;
  top: 34vh;
  left: 40vw;
  padding: 40px 60px;
  background-color: var(--white);
  border: 1px solid var(--bluePrimary);
  border-radius: 6px;
  z-index: 5;
  box-shadow: 0 0 0 200vh rgba(0, 0, 0, 0.4);
}
.delete-product > p {
  font-size: 18px;
  margin-bottom: 20px;
}
